body {
    margin: 0;
    background-color: #0466c8;
    font-family: 'Nimbus Mono PS', 'Courier New', monospace;
    font-weight: normal;
}

.header {
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #0353a4
}

#opponentContainer {
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: #0466c8;
}

#opponentHeader {
    display: flex;
    justify-content: center;
}

.opponentBoard {
    border-bottom: 2px dotted black;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.opponentGameBoardDivs {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    background-color: white;
}

#opponentGameBoard {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    margin: 50px;
    height: 250px;
    width: 250px;
    gap: 0;
}

#opponentShipTable {
    border: 2px solid black;
    margin-top: 50px;
    background-color: white;
}

#playerContainer {
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: #0466c8;
}

#playerHeader {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#playerBoard {
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#playerGameBoard {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    margin: 50px;
    height: 300px;
    width: 300px;
    gap: 0;
}

.playerGameBoardDivs {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    background-color: white;
}

#playerShipTable {
    display: none;
    border: 2px solid black;
    margin-top: 50px;
    background-color: white;
}

#playerShipPlacement {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#playerShipPlacement>button[id^="place"] {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

#playerReady {
    margin-top: 63%;
    padding: 10%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
    padding: 10px
}